#surpress php displaying errors

#php_flag display_startup_errors off
#php_flag display_errors off
#php_flag html_errors off

#enable PHP error logging
php_flag log_errors on
php_value error_log /var/log/php-error.log

#setting up session path
php_value session.save_path /tmp

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php [QSA,L]